{% extends "layout.html" %}
{% block body %}
<script>
  function open(tag){
     return "<" + tag + ">";
  }

  function close(tag){
     return "</" + tag + ">"
  }

  function att(k,v){
     return " " + k + "=" + "\"" + v + "\""
  }
  
  
  function gen_input(fruit_name){
     return open( "div" + att( "class", "form-group row" ) ) +
            open( "label" + att( "class", "col-2 col-form-label") ) + "Add Votes:" + close( "label" ) +
            open( "div" + att( "class", "col-10" ) ) +
            open( "input" + att( "class", "form-control" ) + att( "type", "number" ) + att( "name", fruit_name ) + att( "value", "0" ) +  att( "id", "vote_" + fruit_name ) ) + 
            close( "div" ) + 
            close( "div" );
  }

  
  var old_json_rows_length = 0;
  //console.log("old_len:" + old_json_rows_length);
  function parseJsonIndex(tbodyId, json_rows){
     //console.log("old_len:" + old_json_rows_length);
     //different length ==> total replace
     if (json_rows.length != old_json_rows_length){
        console.log("!=");
        var tbody_html = "";
        $.each(json_rows, function(index, item){
           var row_html = "";
           for ( var k in item ) {
              row_html += "<td>" + item[k] + "</td>";
           }
           {% if g.user.is_authenticated %}
              console.log("hello")
              row_html += "<td>" + gen_input(item['name']) + "</td>";
           {% endif %}
           tbody_html += "<tr>" + row_html + "</tr>";
        
        });
        old_json_rows_length = json_rows.length;
        $("#" + tbodyId).html(tbody_html);
    } else { //same length, just replace
        console.log("=eq");
        var i = 0;
        console.log("prev:");
        console.log($("#" + tbodyId));
        $("#" + tbodyId).find('tr').each( function() {
           if ( i == json_rows.length ){
             return;
           }
           var item = json_rows[i];
           var j = 0;
           for ( var k in item ){
              $(this.children[j]).text(item[k]);
              console.log($(this.children[j]).text());
              j++;
           }
           //changing input field but leave the value
            {% if g.user.is_authenticated %}
               $(this.children[j]).find('input').each( function(){
                  $(this).attr( 'name' , item['name'] );
                  $(this).attr( 'id', "vote_" + item['name'] );
               });
           {% endif %}
           i++;
        });
    }
  }
  


  $(function(){
     getJsonParse("/get_fruit", "result", parseJsonIndex, 5000);
  });

  $( document ).ready(function(){
     var csrf_token = "{{ csrf_token() }}";
     $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
     });
     
     $("#vote_form").submit(function(event){
        //event.preventDefault();
        console.log("im sending post data!!!");
        $.post("{{url_for('vote')}}",$("#vote_form").serialize(),  function(data){
           parseJsonIndex("result", data);
        });

        return false;
     });
  });
</script>
<div id="main" class="container">
    <h2>Fruit-Votes</h2>
    {% if g.user.is_authenticated %}
    <form id="vote_form" action="{{ url_for('vote') }}" method="post">
    {% endif %}
    <table class="table table-hover">
      <tr>
        <th>Fruit
        <th>Votes
      </tr>
      <tbody id="result">
      </tbody>
    </table>
    {% if g.user.is_authenticated %}
       <button class="btn btn-primary" type="submit" >Submit Votes</button>
       <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {% endif %}
</div>
{% endblock %}
