{% extends "layout.html" %}
{% block body %}
<script>
  $(function(){
     getJsonParse("/get_fruit", "result", 10000);
  });

  $( document ).ready(function(){
     var csrf_token = "{{ csrf_token() }}";
     $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
     });
     
     $("#vote_form").submit(function(event){
        //event.preventDefault();
        console.log("im sending post data!!!");
        $.post("{{url_for('vote')}}",$("#vote_form").serialize(),  function(data){
           parseJson("result", data);
        });

        return false;
     });
  });
</script>
<div id="main" class="container">
    <h2>Fruit-Votes</h2>
    {% if g.user.is_authenticated %}
    <form id="vote_form" action="{{ url_for('vote') }}" method="post">
    {% endif %}
    <table class="table table-hover">
      <tr>
        <th>Fruit
        <th>Votes
      </tr>
      <tbody id="result">
      </tbody>
    </table>
    {% if g.user.is_authenticated %}
       <button class="btn btn-primary" type="submit" >Submit Votes</button>
       <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {% endif %}
</div>
{% endblock %}
